{% extends "bootstrap/base.html" %}

{%- block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{%- endblock metas %}
{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='jscolor.js') }}"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>-->
<script src="{{ url_for('static', filename='signature_pad.min.js') }}"></script>
<script>
    const canvasElement = document.querySelector('#canvas');
    const signaturePad = new SignaturePad(canvas, {
        //backgroundColor: 'rgb(238,238,238)',
    });

    userId = 'unknown';
    displayName = 'unknown';
    $(window).on('load', function(){
        canvasElement.setAttribute('width', $('.container').width());
        height = window.innerHeight;
        if (height == 0) {
          height = document.body.getBoundingClientRect().height;
        }
        canvasElement.setAttribute('height', height - $('#send').outerHeight() - 10);
        signaturePad.clear();
        liff.init(function (data) {
            userId = data.context.userId;
            liff.getProfile().then(function (profile) {
              updateProfile(profile);
            });
        });
    });
</script>
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function updateProfile(profile) {
        $.ajax({
            type: 'POST',
            url: '/api/user',
            data: {
                'userId': profile.userId,
                'displayName': profile.displayName,
                'thumbnail': profile.pictureUrl
            },
            dataType: "json",
            success: function (res, status) {},
            error: function (res) { },
            complete: function(data) { }
        });
    }

    function sendImageToUser(url, thumbnail) {
        liff.sendMessages([
            {
                type: 'image',
                originalContentUrl: url,
                previewImageUrl: thumbnail,
            },
        ]).then(function () {
            liff.closeWindow();
        }).catch(function (error) {
            window.alert('Error sending message: ' + error.message);
        });
    }

    function removeImage(userId, imageId) {
        $.ajax({
            type: 'DELETE',
            url: '/api/image',
            data: {
                'userId': userId,
                'imageId': imageId
            },
            dataType: "json",
            success: function (res, status) {
                $('#'+imageId).remove();
            },
            error: function (res) {
            },
            complete: function(data) {
            }
        });
    }

    function createImageElement(image) {
      var element = document.createElement("IMG");
      element.src=image.thumbnail;
      element.alt=image.url;
      element.id=image.imageId;
      element.dataset.userId=image.userId;
      element.width = (window.innerWidth/3) - 15;
      element.style.border="1px solid black";
      element.style.margin="2px";

      var timer = 0;
      var delay = 200;
      var prevent = false;
      $(element).on('click',function() {
        timer = setTimeout(function() {
          if (!prevent) {
            sendImageToUser(image.url, image.thumbnail);
          }
          prevent = false;
        }, delay);
      });
      $(element).on('dblclick',function() {
        clearTimeout(timer);
        prevent = true;
        removeImage(image.userId, image.imageId);
      });
      $('.container').append(element);
    }

    $('#list').on('click', function() {
        if ($('#canvas').is(":visible")) {
        $('#canvas').hide();
        $('#list').text('Draw!');
        $.ajax({
            type: 'GET',
            url: '/api/image/list',
            data: { 'userId': userId, },
            success: function (res, status) {
                res.forEach(function(image) {
                    createImageElement(image);
                });
            }
        });
        } else {
        $('#list').text('List');
        $('#canvas').show();
        $('img').remove()
        }
    });
    $('#undo').on('click', function() {
        var data = signaturePad.toData();
        if (data) {
            data.pop(); // remove the last dot or line
            signaturePad.fromData(data);
        }
    });
    $('#send').on('click', function() {
        $('#send').prop("disabled", true)
        $.ajax({
            type: 'POST',
            url: '/api/image',
            data: {
                'userId': userId,
                'image': signaturePad.toDataURL('image/png')
            },
            success: function (res, status) {
                sendImageToUser(res.url, res.thumbnail);
            },
            error: function (res) {
                window.alert('Error saving image: ' + res.status);
            },
            complete: function(data) {
              $('#send').prop("disabled", false)
            }
        });
    });
function updatePenColor(picker) {
    signaturePad.penColor= picker.toRGBString();
}
function updateBgColor(picker) {
    signaturePad.backgroundColor= picker.toRGBString();
}
function updatePenSize(value) {
    signaturePad.maxWidth = value;
}

</script>
{% endblock %}

{% block title %}Draw!!{% endblock %}

{% block content %}
<div class="container">
    <canvas id="canvas"></canvas>
    <div class="row">
        <button id="list" type="button" class="col-xs-2 btn"> List </button>
        <div class="col-xs-2">
        <select id="dotSelect" onchange="updatePenSize(this.value)">
          <option value='1.5'>XS</option>
          <option value='3.5'>S</option>
          <option value='7.5'>M</option>
          <option value='15.5'>L</option>
          <option value='30.5'>XL</option>
        </select>
      </div>
        <button id="jscolor_fg" class="col-xs-2 btn jscolor {valueElement: undefined, onFineChange:'updatePenColor(this)',closable:true,closeText:'Close!',value:'000000'}">Pen</button>
        <button id="jscolor_bg" class="col-xs-2 btn jscolor {valueElement: undefined, onFineChange:'updateBgColor(this)',closable:true,closeText:'Close!'}" >BGColor</button>
        <button id="undo" type="button" class="col-xs-2 btn"> Undo </button>
        <button id="send" type="button" class="col-xs-2 btn btn-primary"> Send </button>
    </div>
</div>
{% endblock %}

